{% extends 'base.html' %}
{% load static %}

<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Instagram</title> -->
<link href="{% static 'css/background.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/feed.css' %}" rel="stylesheet" type="text/css"/>
<!-- <link rel="icon" href="{% static 'img/icon.png' %}"> -->
</head>
{% block content %}
<link href="{% static 'css/feed.css' %}" rel="stylesheet" type="text/css"/>

<body>
    {% for feed in feeds %}
    <div class="main">
        <section class="cardViewSection" style="padding-top:50px">
            <div class="cardView">
                <header>
                    <div class="userNickName">{{feed.writer}}</div>
                </header>
                <div class="cardImage">
                    {% if feed.image %}
                    <img src="{{feed.image.url}}" alt="">
                    {% endif %}
                    <!-- <img src="{% static 'img/ssu_likelion_logo.png' %}" alt="sample"> -->
                </div>

                <div class="cardInfo">
                    <div class="infoLeft">
                        <img class="feedImg" src="{% static 'img/liked.png' %}" alt="좋아용"/>
                        <img class="feedImg" src="{% static 'img/comment.png' %}" alt="코멘트"/>
                        <img class="feedImg" src="{% static 'img/upload.png' %}" alt="업로드"/>
                    </div>

                    <div class="infoRight">
                        <a href="{% url 'edit' feed.id %}"><img class="feedImg" src="{% static 'img/edit.png' %}" alt="수정"/></a>
                        <a href="{% url 'delete' feed.id %}"><img class="feedImg" src="{% static 'img/delete.png' %}" alt="삭제"/></a>
                    </div>      
                                  
                </div>
                <div class="comment">
                    {{feed.summary}} <a href="{% url 'detail' feed.id %}"> 더보기</a>
                </div>
                <div class="comment_form">
                    <form action="">
                        <input type="text" placeholder="댓글 입력..." class="commenttype">
                    </form>
                </div>
                {% endfor %}
            </div>
    </div>
</body>
{% endblock %}