.cardView{
    display:flex;
    position:relative;
    border:1px solid #DBDBDB;
    width: 300px;
    height: 410px;
    margin-left:auto;
    margin-right:auto;
    flex-direction: column;
}

.cardImage img{
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
header{
    font-size:15px;
}
.cardInfo{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content:space-between;
    width:100%;
    height:40px;
    margin-top:-10px;
}

.infoLeft{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:auto;
}
.infoRight{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    height:auto;
}
.feedImg{
    width:20px;
    height:20px;
    padding-left:4px;
}
.commenttype{
    width:296px;
    border:none;
    border-top: 1px solid #DBDBDB;
    margin-top:20px;
}
.comment{
    font-size:12px;
    margin-top:-10px;
}